
.calculator-body{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: radial-gradient(circle, rgba(174,238,220,1) 0%, rgba(148,187,233,1) 100%);
}
.calculator{
    margin :2%;
    height:60%;
    width:50%;
    border-radius: 50px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.screen{
    height:50%;
    width:100%;
    background-color: black;
    color:white;
    font-size:2rem;
    text-align: center;
    border-radius: 20px;
}
.calculator-buttons{
   
    width:100%;
   
}
.row{
    display:flex;
   
}
.clear{
    width:170%
}
button:last-child{
    background-image: linear-gradient(to top, #e98736 0%, #eba646 80%, #de9c69 100%);
    text-shadow: 0 1px #eed6b3;
}




footer{
    text-align: center;
}
.page-header{
width: 100%;
height: 20%;
/* display: flex; */
text-align: center;
}
h1{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 50%;
    height: 5rem;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
  }
  
  button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
  
  button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  
  
  

